<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="bf5fb94d-6e6c-460a-b7dd-72c1fef993f1" Publisher="CN=Ertay" Version="1.0.0.0" />
  <Properties>
    <DisplayName>PongClone</DisplayName>
    <PublisherDisplayName>Ertay</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PongClone.App">
      <VisualElements DisplayName="PongClone" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="PongClone" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="black" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>